{% extends 'layouts/_layout' %}

{% block content %}


    <div class="flex flex-wrap px-4 md:px-0">
        <div class="hidden md:flex w-1/5">

        </div>
        <div class="w-full md:w-3/5 pb-12">
            <div class="pt-12">
                <p class="font-bold pb-6">Connecting to others is a crucial part of being human. But how do we connect when we are apart?</p>
                <p class="pb-6">‘Cabin Fever’ is an expression used to describe the frustration we feel caused by being stuck inside, in isolation, and from a loss of connection to the outside world.</p>
                <p class="pb-6">We can become disconnected by many things in life; physically from being consumed in the day-to-day, living in different parts of the world, long-distance relationships or global pandemics. This can also happen psychologically through things like misunderstanding each other, not speaking & listening honestly or from a loss of communicating on a deeper level.</p>
                <p class="pb-6">The purpose of this project is to get people talking; to help people go in when they can’t go out. We’re not experts on any of the topics in the question book, just best mates who love a yarn. This question book is meant to be a fun way to spark conversations up, to encourage us to share, listen, and try to understand each other better. We believe good questions get good answers, and good answers can help us understand both ourselves and the people around us in better ways.</p>
            </div>

            <img src="/assets/uploads/about-cabin-fever.jpg" alt="About Cabin Fever" title="About Cabin Fever" />

        </div>
        <div class="hidden md:flex w-1/5">

        </div>
    </div>

{% endblock %}
