{% extends 'layouts/_layout' %}

{% block content %}


    <div class="flex flex-wrap px-4 md:px-0">
        <div class="hidden md:flex w-1/5">

        </div>
        <div class="w-full md:w-3/5 pb-12">
            <div class="pt-12">
                <p class="font-bold pb-6">About <a href="https://www.andrewjsteel.com/" target="_blank">Andrew</a></p>
                <p class="pb-6">Once upon a time, people chased Andrew off for drawing on their walls, now people pay him too. Someone left him in charge of art stuff for Cabin Fever. He usually prefers paint over pixels and prefers wine over beer, but it’s good to be adaptive. Andrew is most known for his commissioned interior artworks. Over his career he has worked with and gained recognition from leading art collectors, interior designers, architects & publishers. His favourite food is feijoas and as a communicator, is more of a texter than a caller and is a passionate Scorpio. When he’s not being arty in his cabin or asking deep-n-meaningful questions, Andrew likes to go sailing, get outdoors and to take photos with his lil drone.</p>
                <p class="font-bold pb-6">About <a href="https://rachelmataira.com/" target="_blank">Rachel</a></p>
                <p class="pb-6">Why don't you play a game of Cabin Fever with her and get to know her?</p>
            </div>

            <img src="/assets/uploads/andrew-and-rachel.jpg" alt="Andrew and Rachel" title="Andrew and Rachel" />

        </div>
        <div class="hidden md:flex w-1/5">

        </div>
    </div>

{% endblock %}
