{% extends 'layouts/_layout' %}

{% block content %}


    <div class="flex flex-wrap px-4 md:px-0">
        <div class="hidden md:flex w-1/5">

        </div>
        <div class="w-full md:w-3/5 pb-12">
            <div class="pt-12">
                <p class="font-bold pb-6">Contact</p>
                <p class="pb-6">Andrew &amp; Rachel: <a href="mailto:enjoy@cabinfever.in">enjoy@cabinfever.in</a></p>
            </div>
        </div>
        <div class="hidden md:flex w-1/5">

        </div>
    </div>

{% endblock %}
