{% extends 'layouts/_layout' %}

{% block content %}

    <div class="md:flex flex-wrap mx-6">
        <div class="w-full md:w-1/2 lg:w-3/4 justify-center py-4 md:py-12">
            <img src="/assets/uploads/cabin-fever-landscape.jpg" alt="Cabin Fever" title="Cabin Fever" />
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 justify-center md:pl-6 pt-4 pb-12 md:py-12">
            <h2 class="uppercase text-2xl font-bold md:pt-2 lg:pt-6">Cabin Fever</h2>

            <a href="/assets/pdf/cabin-fever.pdf" target="_blank" class="max-w-xs uppercase bg-black block text-center text-white bg-back border border-black my-6 p-4">Download</a>

            <h3 class="text-lg">Free ebook download.</h3>

            <ul class="list-disc pl-6 py-6">
                <li class="pb-2">‘Cabin Fever’ is a book of thoughtful questions to play with others.
                Volume 1, 15 pages.</li>
                <li class="pb-2">50 questions, 25 from each author.</li>
                <li class="pb-2">7 unique artworks.</li>
                <li class="pb-2">5 topics: Self, Love, Social Media, Breakups, and Lessons.</li>
            </ul>

            <h4 class="text-lg">We hope you enjoy.</h4>
        </div>
    </div>

{% endblock %}
