{% extends 'layouts/_layout' %}

{% block content %}


    <div class="flex flex-wrap px-4 md:px-0">
        <div class="hidden md:flex w-1/5">

        </div>
        <div class="w-full md:w-3/5 pb-12">
            <div class="pt-12">
                <p class="font-bold pb-6">FAQ</p>
                <p class="pb-6"><span class="font-bold">Question:</span> Is this game better to be played with one other person or a group?
                    <br />
                <span class="font-bold">Answer:</span> It’s totally up to you. When you’re playing with a group, it’s fun and open. We find it can create conversation into unchartered territories. However, it’s very personal when playing with one other person.</p>

                <p class="pb-6"><span class="font-bold">Question:</span> How do you guys know each other?
                    <br />
                <span class="font-bold">Answer:</span>  We've been in each others lives for a long time and are best friends.</p>

                <p class="pb-6"><span class="font-bold">Question:</span> Is it only available on this website?
                    <br />
                <span class="font-bold">Answer:</span> For now, yes. We are planning to release new versions with new topics & categories so keep up to date with new releases.</p>

                <p class="pb-6"><span class="font-bold">Question:</span> Was anyone else besides Andrew and Rachel involved with this project?
                    <br />
                <span class="font-bold">Answer:</span> Nope, it was a collaborative effort between just us. We have wanted to do a project to encourage open conversation for a long time & given we are in lock-down decided now would be the right time.</p>

                <p class="pb-6"><span class="font-bold">Question:</span> Are we able to share this with our friends?
                    <br />
                <span class="font-bold">Answer:</span> Definitely! We love when it’s downloaded through our website as we can then see who’s downloading and enjoying it. But the aim of this is to encourage sharing good conversations with others.</p>

                <p class="pb-6"><span class="font-bold">Question:</span> Who’s hand writing is who’s?
                    <br />
                <span class="font-bold">Answer:</span> Andrew’s is blue and Rachel’s is green.</p>

                <p class="pb-6"><span class="font-bold">Question:</span> What inspired this?
                    <br />
                <span class="font-bold">Answer:</span> Conversation game, scruples, WARNS.</p>

                <p class="pb-6"><span class="font-bold">Questions:</span> Why is version 1 free?
                    <br />
                <span class="font-bold">Answer:</span> We wanted to promote healthy conversations and meaningful connection while we are in lock down as we believe it's important.</p>

                <p class="pb-6"><span class="font-bold">Question:</span> How are you guys so cool?
                    <br />
                <span class="font-bold">Answer:</span> You are.</p>
            </div>

        </div>
        <div class="hidden md:flex w-1/5">

        </div>
    </div>

{% endblock %}
