{% extends 'layouts/_layout' %}

{% block content %}

    <div class="flex justify-center py-12">
        <a href="/download"><img src="/assets/uploads/cabin-fever-landscape.jpg" alt="Cabin Fever" title="Cabin Fever" /></a>
    </div>

{% endblock %}
