{% extends 'layouts/_layout' %}

{% block content %}


    <div class="flex flex-wrap px-4 md:px-0">
        <div class="hidden md:flex w-1/5">

        </div>
        <div class="w-full md:w-3/5 pb-12">
            <div class="pt-12">
                <h2 class="font-bold pb-6">APPLICATION OF TERMS</h2>
                <p class="pb-6">- These Terms apply to your use of this Website. By accessing and using this Website:<br /><br />
                    - You agree to these Terms; and<br />
                    - Where your access and use is on behalf of another person (e.g. a company), you confirm that you are authorised to, and do in fact, agree to these Terms on that person’s behalf and that, by agreeing to these Terms on that person’s behalf, that person is bound by these Terms.
                    <br /><br />
                    - If you do not agree to these Terms, you are not authorised to access and use the Website, and you must immediately stop doing so.</p>

                <h2 class="font-bold pb-6">CHANGES</h2>
                <p class="pb-6">- We may change these Terms at any time by updating them on the Website. Unless stated otherwise, any change takes effect immediately.  You are responsible for ensuring you are familiar with the latest Terms.  By continuing to access and use the Website, you agree to be bound by the changed Terms.<br /><br />
                - We may change, suspend, discontinue, or restrict access to, the Website without notice or liability.<br /><br />
                - These Terms were last updated on 12 April 2020.</p>

                <h2 class="font-bold pb-6">DEFINITIONS</h2>
                <p class="pb-6">- In these terms:<br /><br />
                - Including and similar words do not imply any limit<br />
                - Loss includes loss of profits, savings, revenue or data, and any other claim, damage, loss, liability and cost, including legal costs on a solicitor and own client basis<br />
                - Personal information means information about an identifiable, living person<br />
                - Terms means these terms and conditions titled Website Terms of Use<br />
                - Underlying System means any network, system, software, data or material that underlies or is connected to the Website<br />
                - User ID means a unique name and/or password allocated to you to allow you to access certain parts of the Website<br />
                - We, us or our means Rachel Mataira and Andrew Steel.<br />
                - Website means cabinfever.in<br />
                - You means you or, if clause 1.1b applies, both you and the other person on whose behalf you are acting.</p>

                <h2 class="font-bold pb-6">YOUR OBLIGATIONS</h2>
                <p class="pb-6">- You must provide true, current and complete information in your dealings with us and must promptly update that information as required so that the information remains true, current and complete.<br /><br />
                If you are given a User ID, you must keep your User ID secure and:<br />
                - not permit any other person to use your User ID, including not disclosing or providing it to any other person; and<br />
                - immediately notify us if you become aware of any disclosure or unauthorised use of your User ID, by sending an email to enjoy@cabinfever.in<br /><br />
                - You must:<br />
                - not act in a way, or use or introduce anything (including any virus, worm, Trojan horse, timebomb, keystroke logger, spyware or other similar feature) that in any way compromises, or may compromise, the Website or any Underlying System, or otherwise attempt to damage or interfere with the Website or any Underlying System; and<br />
                - unless with our agreement, access the Website via standard web browsers only and not by any other method. Other methods include scraping, deep-linking, harvesting, data mining, use of a robot or spider, automation, or any similar data gathering, extraction or monitoring method.<br /><br />
                - You must obtain our written permission to establish a link to our Website. If you wish to do so, email your request to enjoy@cabinfever.in.<br /><br />
                - You indemnify us against all Loss we suffer or incur as a direct or indirect result of your failure to comply with these Terms, including any failure of a person who accesses and uses our Website by using your User ID.</p>

                <h2 class="font-bold pb-6">INTELLECTUAL PROPERTY</h2>
                <p class="pb-6">We (and our licensors) own all proprietary and intellectual property rights in the Website (including all information, data, text, graphics, artwork, photographs, logos, icons, sound recordings, videos and look and feel), and the Underlying Systems.<br /><br />
                - DISCLAIMERS<br /><br />
                - To the extent permitted by law, we and our licensors have no liability or responsibility to you or any other person for any Loss in connection with:<br />
                - the Website being unavailable (in whole or in part) or performing slowly;<br />
                - any error in, or omission from, any information made available through the Website;<br />
                - any exposure to viruses or other forms of interference which may damage your computer system or expose you to fraud when you access or use the Website. To avoid doubt, you are responsible for ensuring the process by which you access and use the Website protects you from this; and<br />
                - any site linked from the Website. Any link on the Website to other sites does not imply any endorsement, approval or recommendation of, or responsibility for, those sites or their contents, operations, products or operators.<br /><br />
                We make no representation or warranty that the Website is appropriate or available for use in all countries or that the content satisfies the laws of all countries. You are responsible for ensuring that your access to and use of the Website is not illegal or prohibited, and for your own compliance with applicable local laws.</p>

                <h2 class="font-bold pb-6">LIABILITY</h2>
                <p class="pb-6">- To the maximum extent permitted by law<br /><br />
                - you access and use the Website at your own risk; and<br />
                - we are not liable or responsible to you or any other person for any Loss under or in connection with these Terms, the Website, or your access and use of (or inability to access or use) the Website. This exclusion applies regardless of whether our liability or responsibility arises in contract, tort (including negligence), equity, breach of statutory duty, or otherwise.<br /><br />
                - Except to the extent permitted by law, nothing in these Terms has the effect of contracting out of the New Zealand Consumer Guarantees Act 1993 or any other consumer protection law that cannot be excluded. To the extent our liability cannot be excluded but can be limited, our liability is limited to NZD100.<br /><br />
                - To the maximum extent permitted by law and only to the extent clauses 7.1 and 7.2 of these Terms do not apply, our total liability to you under or in connection with these Terms, or in connection with the Website, or your access and use of (or inability to access or use) the Website, must not exceed NZD100.</p>

                <h2 class="font-bold pb-6">PRIVACY POLICY</h2>
                <p class="pb-6">- You are not required to provide personal information to us, although in some cases if you choose not to do so then we will be unable to make certain sections of the Website available to you. For example, we may need to have your contact information in order to provide you with updates from our Website.<br /><br />
                - When you provide personal information to us, we will comply with the New Zealand Privacy Act 1993.<br /><br />
                - The personal information you provide to us (including any information provided if you register for an account) is collected and may be used for communicating with you, statistical analysis, the marketing by us of products and services to you, credit checks (if necessary), and research and development.<br /><br />
                - We may also collect technical information whenever you log on to, or visit the public version of, our Website. This may include information about the way users arrive at, browse through and interact with our Website.  We may collect this type of technical information through the use of cookies and other means. Cookies are alphanumeric identifiers that we transfer to your computer’s hard drive to enable our systems to recognise your browser.  If you want to disable cookies, you may do so by changing the settings on your browser.  However, if you do so, you may not be able to use all of the functions on the Website.  We use the technical information we collect to have a better understanding of the way people use our Website, to improve the way it works and to personalise it to be more relevant and useful to your particular needs.  We may also use this information to assist in making any advertising we display on the Website more personalised and applicable to your interests.<br /><br />
                - Generally, we do not disclose personal information to third parties for them to use for their own purposes. However, some of the circumstances in which we may do this are:<br />
                - to service providers and other persons working with us to make the Website available or improve or develop its functionality (e.g. we may use a third party supplier to host the Website);<br />
                - in relation to the proposed purchase or acquisition of our business or assets; or<br />
                - where required by applicable law or any court, or in response to a legitimate request by a law enforcement agency.<br /><br />
                - Any personal information you provide to us may be stored on the secure servers of our trusted service providers, which may be located outside New Zealand. This may involve the transfer of your personal information to countries which have less legal protection for personal information than New Zealand.<br /><br />
                - You have the right to request access to and correction of any of the personal information we hold about you. If you would like to exercise these rights, please email us at enjoy@cabinfever.in.</p>

                <h2 class="font-bold pb-6">SUSPENSION AND TERMINATION</h2>
                <p class="pb-6">- Without prejudice to any other right or remedy available to us, if we consider that you have breached these Terms or we otherwise consider it appropriate, we may immediately, and without notice, suspend or terminate your access to the Website (or any part of it).<br />
                - On suspension or termination, you must immediately cease using the Website and must not attempt to gain further access.</p>

                <h2 class="font-bold pb-6">GENERAL</h2>
                <p class="pb-6">- If we need to contact you, we may do so by email or by posting a notice on the Website. You agree that this satisfies all legal requirements in relation to written communications.<br /><br />
                - These Terms, and any dispute relating to these Terms or the Website, are governed by and must be interpreted in accordance with the laws of New Zealand. Each party submits to the non-exclusive jurisdiction of the Courts of New Zealand in relation to any dispute connected with these Terms or the Website.<br /><br />
                - For us to waive a right under these Terms, the waiver must be in writing.<br /><br />
                - Clauses which, by their nature, are intended to survive termination of these Terms, including clauses 5, 5, 6, 7, 10.1, continue in force.<br /><br />
                - If any part or provision of these Terms is or becomes illegal, unenforceable, or invalid, that part or provision is deemed to be modified to the extent required to remedy the illegality, unenforceability or invalidity. If a modification is not possible, the part or provision must be treated for all purposes as severed from these Terms.  The remainder of these Terms will be binding on you.<br /><br />
                - These Terms set out everything agreed by the parties relating to your use of the Website and supersede and cancel anything discussed, exchanged or agreed prior to you agreeing to these Terms. The parties have not relied on any representation, warranty or agreement relating to the Website that is not expressly set out in the Terms, and no such representation, warranty or agreement has any effect from the date you agreed to these Terms. <br /><br /></p>

            </div>
        </div>
        <div class="hidden md:flex w-1/5">

        </div>
    </div>

{% endblock %}
