<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    <title>Cabin Fever, a thoughtful question book</title>

    {# Cachebust the CSS/JS #}
    {% set assetVersion = craft.app.config.env == "dev" ? date().getTimestamp() : 0.01 %}
    {# Until we're live, cachebust all assets #}
    {#{% set assetVersion = date().getTimestamp() %}#}

    {% do view.registerCssFile("/assets/css/main.css?v="~assetVersion) %}

</head>
    <body class="{{ entry is defined ? entry.title|lower : "cabin-fever" }}-page font-sans font-medium subpixel-antialiased overflow-y-scroll">

    <header id="header" class="w-full p-4 z-50">
        {% include 'includes/header' %}
    </header>

    <main class="relative {{ entry.type == "cabin-fever" ? "flex items-center z-40 mb-33" : "" }}">
		{% block content %}
		{% endblock %}
	</main>

    <footer id="footer" class="w-full mt-6">
        {% include 'includes/footer' %}
    </footer>

    {# JS #}
    {#{% do view.registerJsFile("/assets/js/jquery-3.3.1.min.js") %}
    {% do view.registerJsFile("/assets/js/main.min.js?v="~assetVersion) %}#}

</body>
</html>
