
<nav class="md:flex justify-center text-center w-full text-xs md:text-sm leading-normal uppercase mb-12">
    <a href="/download" class="hidden md:inline px-4">Download the book</a>
    <a href="/terms-of-use" class="block md:inline px-4">Terms of use</a>
    <a href="/contact" class="block md:inline px-4">Contact</a>
    <a href="/faq" class="block md:inline px-4">FAQ</a>
</nav>

<div class="flex justify-center w-full leading-normal my-12">
    <p class="text-xs text-gray-200">
         &copy; 2020, when you can't go out, go in.
    </p>
</div>
