<div class="flex justify-center w-full mt-12 mb-12">
    <a href="/"><h1 class="text-md font-bold tracking-wide uppercase">When you can't go out, go in</h1></a>
</div>

<nav class="md:flex justify-center text-center w-full text-sm leading-normal uppercase">
    <a href="/" class="hidden md:inline px-4">Home</a>
    <a href="/download" class="block md:inline px-4">Download</a>
    <a href="/about-the-book" class="block md:inline px-4">About the book</a>
    <a href="/about-the-authors" class="block md:inline px-4">About the authors</a>
</nav>
